*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #dba581;
}

#logo{
    align-self: center;
    margin: 10px;
    width: 200px;
    height: 60px;
}

.filtros{
    padding: 16px;
    background-color: #dba581;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtros2{
    display: flex;
}

#pp{
    margin-right: 50px;
    display: flex;
}

.perfil{
    margin-right: 30px;
}

.recuadroLogin{
    display: flex;
    width: 100%;
}

.formulario{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-top: 65px;
    align-items: center;
}

.formulario h1{
    font-size: 55px;
}

.datos{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    margin-top: 30px;
    margin-left: 8px;
}

.usuario{
    display: flex;
    align-items: center;
}

#campoUsuario{
    margin-left: 10px;
    font-size: 18px;
    padding: 7px 30px 7px 7px;
    border: none;
}

.contraseña{
    display: flex;
    margin-top: 50px;
}

#campoContraseña{
    padding: 7px 30px 7px 7px;
    border: none;
    font-size: 18px;
    margin-left: 10px;
}

.ladoDer{
    display: flex;
}

.ladoDer img{
    width: 52vw;
    height: 86.6vh;
}

.recordar{
    display: flex;
    margin-top: 50px;
}

#checkRecordar{
    width: 24px;
}

#txtRecordar{
    margin-right: 100px;
}

#txtOlvido{
    color: dodgerblue;
}

#btnIngreso{
    background-color: #dba581;
    color: black;
    font-size: 17px;
    text-align: center;
    border-radius: 5px;
    margin-top: 60px;
    cursor: pointer;
    width: 200px;
    height: 38px;
    border: none;
}

#btnIngreso:hover{
    background-color: #cc9169;
    margin-top: 61px;
    margin-right: 1px;
}